.App {
  text-align: center;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}



/* header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
} */

.navbar{
  background-color: #103D5D;
}

.log {
  /* margin-left: 2%; */
}

.user-name {
  /* margin-top: 10%; */
  color:white;

}

.user-profile-img {
  border-radius: 50%;
  max-width: 7%;

}
